# Log file
*.log

# Build files
target
reports

# Idea
*.iml
.idea

# Netbeans
nbproject
build.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*